@import url("./_reset.scss");
@import url("./_variables.scss");

nav {
  display: flex;
  justify-content: center;
  background-color: var(--card);
  color: white;

  div {
    padding: 1rem;
    cursor: pointer;
    &:hover {
      color: var(--card);
      background-color: var(--background);
    }
  }
}

@media (max-width) {
    
}
